.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
}

.mainText {
  margin: auto;
}

@media all and (min-width: 630px) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    max-width: 100vw;
    flex: 1;
  }

  .mainText {
    width: 40%;
  }

  .mainHolder {
    width: 60%;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .mainHolder p {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .code {
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .imageDetail {
    min-height: 75vh;
    max-width: 800px;
  }
}

@media (max-width: 629px) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    max-width: 100vw;
    flex: 1;
  }

  .mainText {
    width: 100%;
  }

  .mainHolder {
    width: 100%;
    height: 50vh;
  }

  .title {
    margin: 0;
    line-height: 1;
    font-size: 2.5rem;
  }
  
  .description {
    margin: 2rem 0;
    line-height: 1;
    font-size: 1rem;
  }

  .mainHolder p {
    line-height: 1;
    font-size: 1rem;
  }
  
  .code {
    font-size: .85rem;
    padding: 0.3rem;
  }

  .imageDetail {
    min-height: 50vh;
  }
}

.mainHolder p {
  margin-bottom: 0px;
  padding-right: 1rem;
  text-align: left;
}

.title,
.description {
  text-align: center;
  vertical-align: middle;
}

.code {
  background: rgb(39, 78, 58);
  border-radius: 5px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.imageDetail {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
}
